.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    height: 50vh;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}

/* ---------------------------------------------------
    fixed calc
----------------------------------------------------- */
#canvas{
    display: none;
    z-index: 9;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 100px;
    padding-left: calc(50% - 120px);
    padding-right: calc(50% - 120px);
}
#canvas table{
    background: gainsboro;
}
#canvas th{
    background: #23272b;
    height: 80px;
    color: white;
    text-align: right;
    font-size: 2em;
    padding-right: 10px;
}
#canvas td{
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 2em;
}
.number:hover{
    background: white;

}
.number:active{
    border-width:2px;
    border-style:inset;
}
.func{
    background: orange;
    color: white;
}
.func:hover{
    background: chocolate;
}
/* ---------------------------------------------------
    login
----------------------------------------------------- */

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

/* ---------------------------------------------------
    menu
----------------------------------------------------- */

.menu_tab {
    margin: 0 auto;
    justify-content: center;
}

.nav-item {
    display: inline-block;
    text-align: center;
}
.nav-tabs .nav-link{
    transition: .3s;
}
.nav-tabs .nav-link.active {
    font-weight: 700;
    text-transform: capitalize;
}
.nav-link {
    color: #000;
}
.nav-tabs .nav-link:hover {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

.single_menu {
    transition: .3s;
}

.single_menu:hover img{
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);

}

.single_menu img {
    width: 20%;
    position: absolute;
    height: 130px;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transition: .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.menu_content {
    padding-left: 180px;
}
.menu_content h4 {
    font-size: 1em;
    font-weight: 300;
    border-bottom: 1px dashed #c0392b;
    line-height: 2;
    text-transform: capitalize;
}
.menu_content h4 span {
    font-size: 1em;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #c0392b;
}
.menu_content p {
    font-weight: 200;
    font-size: .8em;
    letter-spacing: 1px;
}
.order_item, .order_item:link, .order_item:visited, .order_item:hover, .order_item:active {
    text-decoration: none;
    color:inherit;
}
